body{
	font-size:1.5em;
	font-family: font;
	color:white;
}

p#p{
	color:black;
}
#cpakket1,#cpakket2,#cpakket3{
	
margin-left: auto;
    margin-right: auto;
	height:10%;
	padding:1%;
	margin:0px auto 0px auto;
}

#pakket1,#pakket2,#pakket3{
	height:10%;
	margin:2%;
	padding:1%;	
	margin:1px auto 1px auto;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial;
}

.kolomtekst{
	display: inline-block;
	width: 1000px;
}

.kolomtekst1{
	display: inline-block;
	 width: 1000px;
    height: auto;
}
.kolomtekst2{
	display: inline-block;
	 width: 1000px;
    height: auto;
}

/* 
SLIDE
SHOW
*/

 .mySlides {
	display: none;
}
.left, .right, .badge {
	cursor:pointer;
}
.display-container{
	margin-top: 1%;
	
}