/* ACHTERGROND 
	KLEUREN */
.brons{
	background-color:#cc6633;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

.silver{
	background-color:silver;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

.goud{
	background-color:GoldenRod;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

.geel{
	background-color:gold;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

.oranje{
	background-color:#FF8000;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

.groen{
	background-color:#3CBC3C;
	height:100px;
	margin: 0px auto 0px auto;
	padding:10px;
}

#pakket1,#pakket2,#pakket3,#cpakket1,#cpakket2,#cpakket3{
	background-color:white;
}

h1#pak1{
color:white;
	float:left;
	padding:12%;
	margin:0px auto;
	height:100px;
	padding-left:20%;
}

h1#pak2{
	color:white;
	float:left;
	padding:12%;
	margin:0px auto;
	height:100px;
		padding-left:20%;
}

h1#pak3{
	color:white;
	float:left;
	padding:12%;
	margin:0px auto;
	height:100px;
		padding-left:20%;
}

h1#cpak1{
	color:white;
	float:left;
	padding:12%;
		padding-left:20%;
	margin:0px auto;
	height:100px;
	
}

h1#cpak2{
	color:white;
	float:left;
	padding:12%;
	margin:0px auto;
	height:100px;
		padding-left:20%;
}

h1#cpak3{
	color:white;
	float:left;
	padding:12%;
	margin:0px auto;
	height:100px;
		padding-left:20%;
}
